.App {
  text-align: center;
}

.App-header {
  background-color: #3f4552;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

h2{
  margin: 10px 0px 5px 0px;
}

.search{
  height: 20px;
  width: 593px;
  padding: 8px;
  border-radius: 14px;
  margin-left: 14px;
}